.main-container {
    max-width: 1366px;
    margin: 0 auto;
}
.content-wrapper {
    max-width: 1170px !important;
    margin: 0 auto;
}
/* div[class^="col-"]{
    border: 1px solid black;
} */
.menu-container {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(155, 149, 149, 0.315);

}
.background-grey {
    background-color: #F9F9F9;
}
.background-grey2 {
    background-color: #F6F6F6;
}
.background-light-dark {
    background-color: #232323;
}
.background-dark {
    background-color: #1A1A1A;
}
.heading-1-rblack {
    font-family: Raleway-Black;
    font-size: 46px;
    line-height: 54px;
}
.heading-2-rblack {
    font-family: Raleway-Black;
    font-size: 24px;
    line-height: 32px;
}
.heading-1-rweb {
    font-family: Raleway-ExtraBold;
    font-size: 30px;
    line-height: 30px;
}
.heading-1-rwb {
    font-family: Raleway-Bold;
    font-size: 30px;
    line-height: 30px;
}
.heading-1-rwb {
    font-family: Raleway-Bold;
    font-size: 30px;
    line-height: 30px;
}
.heading-2-rwb {
    font-family: Raleway-Bold;
    font-size: 24px;
    line-height: 30px;
    color: #646464;
}
.heading-3-rwb {
    font-family: Raleway-Bold;
    font-size: 18px;
    line-height: 21px;
}
.heading-4-rwb {
    font-family: Raleway-Bold;
    font-size: 16px;
    line-height: 19px;
}
.heading-2-rwsb {
    font-family: Raleway-SemiBold;
    font-size: 15.6px;
}

.heading-2-rwl {
    font-family: Raleway-Lite;
    font-size: 16px;
}
.heading-2-rb {
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 32px;
}
.heading-3-rb {
    font-family: Roboto-Bold;
    font-size: 16px;
    line-height: 21px;
    color: black;
}
.heading-3-rr {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 21px;
}
.heading-4-rr {
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 19px;
}
.heading-5-rr {
    font-family: Roboto-Regular;
    font-size: 13px;
    line-height: 18px;
}
.heading-5-rb {
    font-family: Roboto-Bold;
    font-size: 13px;
    line-height: 18px;
}
.heading-6-rr {
    font-family: Roboto-Regular;
    font-size: 12px;
    line-height: 16px;
}
.heading-2-rl {
    font-family: Roboto-light;
    font-size: 13px;
    line-height: 18px;
}
.heading-3-rl {
    font-family: Roboto-light;
    font-size: 12px;
    line-height: 16px;
    color: white;
    margin: 0;
}
/**********************************************inputs*********************************************************/
#search {
    width: 395px;
    height: 40px;
    border: 1px solid #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 16px;
    transition: width 0.9s ease-in;
}
.search-btn {
    width: 70px;
    max-width: 70px;
    height: 40px;
    border: 1px solid #E1E1E1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #C41415;
    color: white;
}
/********************************************end inputs*********************************************************/

/******************************************bred-crumb-section*******************************/
/* .bred-crumb-section {
    margin-bottom: 15px;
} */
.breadcrumb {
    background-color: #F9F9F9 !important;
    padding-left: 0 !important;
    margin: 0 !important;
}
.breadcrumb-item a {
    font-size: 12px !important;
    text-transform: capitalize;
    color: #979797;
}
.breadcrumb-item {
    font-size: 12px !important;
    color: #979797;
}
.bred-crumb-section {
    padding: 27px 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "/";
}
/******************x***********************end bred-crumb-section*************x*****************/

@media (max-width: 768px) {
    #search {
        width: 180px;
    }
}