
* ,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, small {
    padding: 0;
    margin: 0;
}
ul {
    margin-bottom: 0;;
}
li {

    list-style: none;
}
a {
    text-decoration: none;
    color: #646464;
}
a:hover {
    color: #646464;
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
}
/******************************************************banner***********************************************************/
.banner {
    height: 70px;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/******************************************************end banner***********************************************************/
/*******************************************************logo****************************************************************/  
.logo-wrapper {
    display: flex;
}
.logo-row {
    height: 80px;
    border-bottom: 2px solid #E1E1E1;
}
.logo-row {
    align-items: center;
}
.logo-subtitle {
    text-transform: uppercase;
    margin: 0;
}
.logo-title {
    margin-bottom: 0px;
}
.logo-text-wrapper {
   display: flex;
   flex-direction: column;
  justify-content: center;
}
.like-wrapper {
    display: flex;
    justify-content: flex-end;
}
.search-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 395px;
}
.search-wrapper.tab {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 380px;
}
#search {
    width: 395px;
    height: 40px;
    border: 1px solid #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 16px;
    transition: width 0.9s ease-in;
    outline: none;
}
#search:focus {
    border-color: #0093D1;
}
#search.tab-full {
    width: 290px;
}
#search.tab-init {
    width: 140px;
}
#search.responsive {
    width: 0;
    height: 40px;
    border: 1px solid #E1E1E1;
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    border-radius: 20px;
    padding: 10px 16px;
    transition: all 0.8s ease;
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(201, 195, 195);
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(201, 195, 195);
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(201, 195, 195);
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: rgb(201, 195, 195);
  }
  .search-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    max-width: 70px;
    height: 40px;
    border: 1px solid #E1E1E1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #C41415;
    color: white;
  }
  .search-btn-wrapper.responsive {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    max-width: 70px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #E1E1E1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #C41415;
    color: white;
  }
  #search.active {
      width: 290px;
  }
  .search-center {
      display: flex;
      justify-content: center;
  }
/****************************************************end logo****************************************************************/  

/*************************************************sorting-col*************************************************************/
.sorting-col {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
    padding-bottom: 16px;
}
.dropdown {
    background-color: white;
    border-radius: 18px;
    border: 1px solid #E2E2E2;
    max-width: 190px;
}
.goods-title {
    color: #646464;
}
.sorting-row .goods-title-wrapper {
    display: flex;
    align-items: center;
}
#dropdownMenuButton {
    font-family: Roboto-Regular;
    font-size: 13px;
    line-height: 18px;
}
/*************************************************end sorting-col*********************************************************/

/*******************************************************banner-section******************************************************/
.banner-section {
    background: linear-gradient(90deg, rgba(0,147,209,0.8) 0%, rgba(0,147,209,0.7) 45%, rgba(0,147,209,1) 70%, rgba(0,147,209,1) 100%), url(../icons/banner-img.png);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: center;
    padding-left: 140px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.banner-text-wrapper {
    position: relative;
    flex: 0 0 40%;
    max-width: 40%;
    
}
.banner-slider-wrapper {
    flex: 0 0 60%;
    max-width: 60%;
}
.banner-arrow {
    position: absolute;
    right: 13px;
    bottom: -55px;
}
.banner-date {
    color: white;
    margin-bottom: 3px;
}
.banner-title {
    color: white;
    margin-bottom: 10px;
}
.banner-subtitle {
    color: white;
}

/*******************************slider-card***************************/
.slider-cards-wrapper {
    display: flex;
    align-items: center;

}
/* .slider-cards-wrapper > *:not(:last-child) {
    margin-right: 30px;
} */
/* .slider-card.active {
    zoom: 1;
} */
.slider-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 235px;
    height: 100%;
    padding: 13px;
    background-color: #fff;
    zoom: 1;

}
.slider-card-header {
    margin-bottom: 13px;
}
.slider-card-header .img-wrapper {
    width: 209px;
    height: 209px;
}
.slider-card-header .img-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.slider-card-body .slider-card-text {
    margin-bottom: 2px;
}
.slider-card-price p {
    padding: 0;
    margin: 0;
}
.slider-card-origin {
    margin-top: -7px;
}
.slider-card-btns-wrapper {
    display: flex;
    justify-content: space-evenly;
}
.slider-btn {
    width: 98px;
    padding: 12px 0;
    border: 0;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 16px;
    box-shadow: 1px 2px 3px rgb(175, 168, 168);
}
.slider-img {
    width: 23px;
    height: 21px;
    object-fit: contain;
}
/*******************************************************end banner-section******************************************************/
/************************************************************how-it-works*******************************************************/
.how-it-works {
    margin: 40px auto;
}
.how-it-works-title {
    margin-bottom: 30px;
}
.how-it-works-text-wrapper {
    padding-left: 48px;
    position: relative;
    width: 100%;

}
.how-it-works-text-wrapper img {
    position: absolute;
    left: -23%;
    top: -37%;
    object-fit: contain;
    width: 131px !important;
    height: 131px;
    /* margin-right: 9px; */
}
.how-it-works-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 103px;
    max-width: 100%;
}

.how-it-works-text-wrapper h3 {
    margin-bottom: 3px;
    color: #303030;
}
.how-it-works-text-wrapper h4 {
    margin-bottom: 3px;
    color: #646464;
}
/************************************************************end how-it-works*******************************************************/
/*******************************************************************featured-tabs-wrapper**********************************************/
.featured-products {
    padding: 40px 0 90px 0;
}
.featured-products-title {
    margin-bottom: 30px;
}
.featured-tabs-row {
    background-color: #F9F9F9;
    border-bottom: 2px solid #C41415;
}
.featured-tabs-wrapper {
    display: flex;
}
.featured-tab {
    min-width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 21px;
    color: #646464;
    cursor: pointer;
    transition: all 0.5s;
}
.featured-tab.active {
    background-color: #C41415;
    color: white;
}
/*******************************************************************end featured-tabs-wrapper**********************************************/
/*****************************************************************************featured-card************************************************/
/* .featured-card-col {
    margin: 15px 0;
} */
.featured-card-row {
    display: none !important;
    transition: all 1s;
}
.featured-card-row.active {
    display: flex !important;
    
}
.featured-card-row > * {
    background-color: white;
}
.featured-card {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.featured-card-header {
    margin-bottom: 15px;
}
.featured-img-wrapped {
    position: relative;
    width: 100%;
    height: 165px;
}
.featured-img-wrapped .featured-chip {
    position: absolute;
    top: -13px;
    left: -15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 62px;
    height: 24px;
    border-top-right-radius: 31px;
    border-bottom-right-radius: 31px;
    color: white;
    padding-right: 4px;
    z-index: 5;
}
                                         /****************featured-rating***********************/
.featured-img-wrapped .featured-chip.featured-rating {
    background-color: #AD160F;
}
.featured-img-wrapped .featured-chip.featured-rating::before {
    content: "";
    background-image: url(../icons/rating.png);
    width: 30px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
}
                                       /****************end featured-rating***********************/
                                       /********************featured-stars***********************/
    .featured-img-wrapped .featured-chip.featured-stars {
        background-color: #0093D1;
    }
    .featured-img-wrapped .featured-chip.featured-stars::before {
    content: "";
    background-image: url(../icons/star.png);
    width: 15px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
}
                                       /*****************end featured-stars***********************/
                                        /********************featured-new***********************/
    .featured-img-wrapped .featured-chip.featured-new {
        background-color: #00A500;
    }
    .featured-img-wrapped .featured-chip.featured-new::before {
    content: "";
    background-image: url(../icons/new.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
                                        /*****************end featured-new***********************/
                                        /********************featured-top***********************/
.featured-img-wrapped .featured-chip.featured-top {
    background-color: #0093D1;
}
.featured-img-wrapped .featured-chip.featured-top::before {
content: "";
background-image: url(../icons/chuvachok.png);
width: 15px;
height: 20px;
background-repeat: no-repeat;
background-position: center;
}
                                        /*****************end featured-top***********************/
.featured-img-wrapped .featured-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured-img-wrapped .featured-like {
    position: absolute;
    bottom: 3px;
    right: 24px;
    z-index: 10;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 3px;
    background-image: url(../icons/empty-like.png);
    background-repeat: no-repeat;
    background-position: 50% 63%;
    background-color: white;
    box-shadow: 0px 1px 3px #30353a;
    cursor: pointer;
}
.featured-img-wrapped .featured-like.active {
    position: absolute;
    bottom: 3px;
    right: 24px;
    z-index: 10;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 3px;
    background-image: url(../icons/full-heard-like.png);
    background-repeat: no-repeat;
    background-position: 50% 63%;
    background-color: #00A51E;
    box-shadow: 0px 1px 3px #30353a;
    cursor: pointer;

}
.featured-img-wrapped .featured-like {
    position: absolute;
    bottom: 3px;
    right: 24px;
    z-index: 10;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 3px;
    background-image: url(../icons/empty-like.png);
    background-repeat: no-repeat;
    background-position: 50% 63%;
    background-color: white;
    box-shadow: 0px 1px 3px #30353a;
    cursor: pointer;
}
.featured-img-wrapped .featured-dislike.active {
    position: absolute;
    bottom: 3px;
    right: 3px;
    z-index: 10;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 3px;
    background-image: url(../icons/full-heard-dislike.png);
    background-repeat: no-repeat;
    background-position: 50% 63%;
    background-color: #AD160F;
    box-shadow: 0px 1px 3px #30353a;
    cursor: pointer;
}
.respo-voiting-section .featured-like.active {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 3px;
    background-image: url(../icons/like-big.png);
    background-repeat: no-repeat;
    background-position: 50% 63%;
    background-color: #00A51E;
    box-shadow: 0px 1px 3px #30353a;
    cursor: pointer;
    margin-right: 10px;

}
.respo-voiting-section .featured-dislike {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 3px;
    background-image: url(../icons/dislike-b.png);
    background-repeat: no-repeat;
    background-position: 50% 63%;
    background-color: white;
    box-shadow: 0px 1px 3px #30353a;
    cursor: pointer;
}
.featured-card-body {
    margin-bottom: 11px;
}
.featured-title h4 {
    color: #303030;
}
.featured-origen {
    color: #303030
}
.featured-card-footer {
    margin-bottom: 8px;
}
/*****************************************************************************end featured-card************************************************/
/***************************************************************************most-search-keywords************************************************/
.most-search-keywords {
    padding-top: 40px;
    padding-bottom: 15px;
    border-top: 1px solid rgb(221, 217, 217, 0.4);
}
.most-search-keywords-title {
    margin-bottom: 34px;
}
.most-search-keywords-title h2{
    color: #646464;
}
.most-search-keywords-items {
    display: flex;
    flex-wrap: wrap;

}
.most-search-keywords-items > *:not(:last-child) {
    margin-right: 11px;
}
.most-search-keywords-item {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
/* .most-search-keywords-item::after {
    content: "";
    margin-left: 12px;
} */
.most-search-keywords-item:last-child::after {
    content: "";
    margin-left: 0;
}
.most-search-keywords-item a {
    color: white;
    text-decoration: none;
    display: flex;
    width: max-content;
    padding: 3px 16px;
    border: 1px solid #0093D1;
    border-radius: 28px;
    background-color: #0093D1;
    transition: all 0.5s ease-in;
}
.most-search-keywords-item a:hover {
    background-color: transparent;
    color: #0093D1;
}
footer .proud-affiliates-wrapper {
    margin-top: 40px;
}
.most-search-keywords-item a:hover {
    color: #979797;
}

/*****************************************************************************page2***************************************************************/
.detail-content-wrapper {
    display: flex;
    padding-bottom: 90px;
}
.aside-menu-container {
    flex: 0 0 240px;
    margin-right: 40px;
    margin-left: -15px;
    padding-left: 15px;
}
.filtering-menu-container {
    box-shadow: 0px 0px 12px -2px #53575a9e;
    height: max-content;
    margin-bottom: 17px;
}
.browse-brand-menu-container {
    box-shadow: 0px 0px 12px -2px #53575a9e;
    height: max-content;
}

.card-detail-row {
    max-width: 100%;
    height: 100%;
}
.btn-link {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    align-items: baseline;
    color: #303030 !important;
}
/*******************************************************************************card******************************************************************/
.card-detail-row > * {
    background-color: white;;
}
/******************************************************************************end card*****************************************************************/
                                     /**********************************related-categories accordion*********************************************/
.filtering-menu-container .card-header, .browse-brand-menu-container .card-header {
    background-color: white;
    padding: 8px 10px;
}
.filtering-menu-container .btn-link, .browse-brand-menu-container .btn-link {
    display: flex !important;
    justify-content: flex-start;
}
.filtering-menu-container  .card-img, .browse-brand-menu-container .card-img {
    margin-right: 16px;
    height: 13px;
    width: 13px;
    object-fit: contain;
}
.browse-brand-img {
    background-color: black;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}
.related-categories-nav ul{
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
    margin-bottom: 0;
}
.related-categories-nav a {
    color: #646464;
}
.related-categories-nav a:hover {
    color: #646464;
}
.accordion-title {
    margin: 0 !important;
}
                                          /*************************************end related-categories**********************************/
                                         /**************************************source-links*********************************************/
.filtering-menu-container .card-body, .browse-brand-menu-container .card-body {
    background-color: white;
}
.source-links-wrapper {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.source-link:not(:last-child) {
    margin-bottom: 8px;
}
.source-link a {
    color: #646464;
    padding: 7px 7px;
}
.source-link a:hover {
    color: #646464;
}
.source-link .active > a:hover {
    color: #C41415;
}
.source-link.active > a {
    color: #C41415;
}
                                         /**************************************end source-links******************************************/
                                         /**************************************Tag-accordion******************************************/
.filtering-menu-container .checkbox, .browse-brand-menu-container .checkbox {
	position: absolute;
	left: -9999px;
}

.label {
	cursor: pointer;
    position: relative;
    margin-left: 25px;
    color: #646464;
}

.label:before {
	content: '';
	background-color: #fff;
	border: 2px solid #ddd;
	border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	left: -23px;
	width: 15px;
	height: 15px;
}

.label:after {
	color: white;
    content: '\2713';
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
    left: -24px;
    top: 0px;
	/* transform: scale(0); */
	transition: transform 0.2s linear;
}

.checkbox:checked + .label:after {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AD160F;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    font-weight: bold;
}

                                         /**************************************end Tag-accordion******************************************/
                                         /*********************************************free-shipping***************************************/
.free-shipping {
    padding: 20px;
    background-color: #fff;
}
                                         /******************************************end free-shipping***************************************/
                                         /********************************************browse-brand-accordion********************************/

                                         /*****************************************end browse-brand-accordion********************************/

/*****************************************************************************end page2***************************************************************/
/************************************************************************end most-search-keywords************************************************/



/*****************************************************||||responsiveness|||||************************************************************/
@media (max-width:1200px) {
    .how-it-works-card {
        box-shadow: 3px 10px 19px -5px grey;
        /* padding: 15px 40px; */
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .how-it-works-text-wrapper {
        width: 60%;
    }
    #how-it-works-row .owl-stage {
        margin-left: 15px;
    }
   #how-it-works-row .owl-item {
       height: 130px;
   }
   #how-it-works-row .owl-dots {
    display: flex;
    justify-content: center;
    /* width: 40px; */
   }
}
@media (max-width:1024px) {
    .how-it-works-card {
        width: 95%;
    }
   #how-it-works-row button.owl-dot {
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    border: 1px solid gray;
    margin-left: 13px;
   }
   #how-it-works-row button.owl-dot.active {
       background-color: #E2E2E2;
   }
}
@media (max-width:768px) {
    .slider-cards-wrapper {
        /* display: none; */
    }
    .banner-arrow {
        display: none;
    }
    .how-it-works-card {
        margin-bottom: 0;
    }
    .how-it-works-text-wrapper {
        width: 100%;
        padding-left: 77px;
    }
    .how-it-works-text-wrapper img {
        left: -10%;
        top: -18px;
    }
    /**********************banner section************************/
    .banner-section {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .banner-text-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .banner-text-wrapper .banner-title {
        line-height: 22px;
        font-size: 22px;
        text-transform: capitalize;
        font-family: Raleway-Bold;
    }
    .banner-date {
        width: 50%;
        text-align: end;
        font-family: Raleway-Regular;
    }
    .banner-title {
        width: 50%;
    }
    .banner-subtitle {
        margin-top: 20px;
    }
    /********************end banner section************************/
}

@media (max-width:576px) {
    .how-it-works-text-wrapper {
        width: 67%;
    }
    .featured-tabs-wrapper {
        overflow-x: scroll;
    }
    .featured-tab {
        min-width: max-content;
    }
    .featured-card {
        max-width: 300px;
        margin: 15px auto;
    }
    /****************search*****************/
    .logo-wrapper img {
        width: 50%;
    }
    .logo-text-wrapper h1 {
        font-size: 21px;
    }
    .logo-text-wrapper h2 {
        font-size: 11px;
    }
    .search-btn {
        width: 65%;
        height: 100%;
        object-fit: contain;
    }
    /****************end search*****************/
    /*********************key search**************************/
    #respKeyCarousal {
        position: relative;
    }
    #respKeyCarousal .owl-nav {
        position: absolute;
        top: 14px;
        left: 0;
        width: 100%;
        height: 0;
        display: flex;
        justify-content: space-between;
    }
    .res-keywords-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /*********************end key search**************************/

    /******************************card********************************/
    .featured-card-row {
        background-color: #F9F9F9;
        padding-right: 5px;
        padding-left: 5px;
    }
    .featured-card-row .col-6 {
        background-color: #F9F9F9;
        padding-right: 5px;
        padding-left: 5px;
    }
    .featured-card {
        background-color: white;
        margin: 5px 0;
    }
    .featured-img-wrapped .featured-chip {
        top: 0;
        left: 0;
    }
    .card-content {
        padding: 7px !important;
    }
    /******************************end card********************************/
}
@media (max-width:460px) {
    .how-it-works-text-wrapper {
        width: 79%;
        padding-left: 68px;
    }

}
@media (max-width:440px) {
    /* .featured-card {
        max-width: 100%;
        margin: 15px auto;
    } */
    .how-it-works-text-wrapper {
        width: 82%;
        padding-left: 80px;
    }
}
@media (max-width:400px) {
    .how-it-works-text-wrapper {
        width: 95%;
    }
}
@media (max-width:360px) {
    .how-it-works-text-wrapper {
        width: 100%;
        padding-left: 60px;
    }
    .how-it-works-text-wrapper img {
        left: -15%;
        top: -8px;
    }
        /****************search*****************/
        .logo-wrapper img {
            width: 50%;
        }
        .logo-text-wrapper h1 {
            font-size: 19px !important;
        }
        .logo-text-wrapper h2 {
            font-size: 9.6px !important;
        }
        /****************end search*****************/
}
